/* ヘッダー全体のスタイル */
header {
  border-bottom: #333 1.5px solid;
  background-color: #f6f4eb; /* 背景色 */
}

/* ヘッダーの中身のスタイル */
.header-inner {
  display: flex; /* 要素を横並びにする */
  justify-content: space-between; /* 要素を左右に配置 */
  align-items: center; /* 要素を上下中央に配置 */
  max-width: 1200px; /* 最大幅 */
  margin: 0 auto;
  padding: auto;
}
.page-link {
  border: #333 solid 0px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px;
  margin-right: auto;
  width: 80px;
  text-align: center;
  color: black;
}
.site-title {
  font-size: 24px; /* フォントサイズ */
  font-weight: bold; /* 太字 */
  color: #333; /* テキスト色 */
}

/* ロゴ画像のスタイル */
.logo-image {
  width: 40px;
  height: 40px;
  margin-right: 10px; /* ロゴとサイトタイトルの間の余白 */
}
.logo-link {
  display: flex; /* 要素を横並びにする */
  font-size: large; /* フォントサイズ */
  text-decoration: none; /* リンクの下線を消す */
  align-items: center; /* 要素を上下中央に配置 */
  color: #333; /* テキスト色 */
}

body {
  display: block; /* flexを解除 */
  margin: 0; /* デフォルトのマージンをリセット */
  padding: 0; /* デフォルトのパディングをリセット */
}
