:root {
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-size: 16px;
  color-scheme: dark;
  color: black;
  background-color: #b3e5fc;
}

a {
  text-decoration: none;
  color: #0288d1;
  transition: all 0.2s;
}

.Links a:hover {
  color: #29b6f6;
}
.note {
  width: 3rem;
  height: 3rem;
}

.wrapper {
  display: flex;
}

.mainelement {
  padding: 1rem;
  margin: 0 auto;
}
