.sidebar {
  width: 200px; /* サイドバーの幅 */
  background-color: #4dd0e1; /* VS Code Dark+風背景色 */
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%; /* ul要素の幅をサイドバーの幅に合わせる */
  box-sizing: border-box; /*パディングを含む幅指定*/
}

.sidebar li {
  margin-bottom: 10px;
  border: 1px solid #333; /* VS Code Dark+風ボーダー色 */
  padding: 8px 10px;
  width: 100%; /* li要素の幅を親要素の幅に合わせる */
  box-sizing: border-box; /*パディングを含む幅指定*/
  transition: background-color 0.2s ease; /* ホバー時のスムーズな変化 */
}

.sidebar li:hover {
  background-color: #333; /* ホバー時の背景色 */
  cursor: pointer; /* カーソル変更 */
}

.sidebar li.active {
  background-color: #5c6370; /* アクティブ時の背景色 (VS Code Dark+風) */
  border-color: #5c6370; /* アクティブ時のボーダー色 */
}

.sidebar li.partially-active {
  background-color: #444; /* 部分一致時の背景色 */
  border-color: #444; /* 部分一致時のボーダー色 */
}

.links {
  text-decoration: none;
  color: #d4d4d4; /* VS Code Dark+風テキスト色 */
  display: block; /* リンクをブロックレベルにすることで幅全体に広がる */
}

.links:hover {
  text-decoration: none;
}
